:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
    --font-viga: 'Viga', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

.team-main {
    background-color: var(--main-highlight-darkslateblue);
}

.team-section {
    /* BOX MODEL */
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.team-headline {
    /* TYPOGRAPHIC */
    font-family: var(--font-viga);
    font-size: 2em;
    color: var(--main-highlight-aquamarine);
    text-align: center;
}

.team-card {
    /* BOX MODEL */
    padding-top: 100px;
    padding-bottom: 10px;

    /* VISUAL */
    background-color: var(--main-dark);
    border: 2px solid var(--main-highlight-aquamarine);
    border-radius: 10px;
}

.team-article {
    text-align: center;
}

.team-member {
    /* TYPOGRAPHIC */
    font-family: var(--font-viga);
    font-size: 1.75em;
    color: var(--main-highlight-aquamarine);
}

.team-memeber-title {
    color: var(--main-highlight-aquamarine);
}

.team-member-about {
    /* TYPOGRAPHIC */
    font-family: var(--font-rubik);
    color: var(--main-light);
}