:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
    --font-viga: 'Viga', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

.team-main {
    /* VISUAL */
    background-color: var(--main-highlight-darkslateblue);
}

.team-section {
    /* BOX MODEL */
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.team-headline {
    /* BOX MODEL */
    padding-bottom: 100px;

    /* TYPOGRAPHIC */
    font-family: var(--font-viga);
    font-size: 2em;
    color: var(--main-highlight-aquamarine);
    text-align: center;
}

.team-cards-container {
    padding-top: 100px;
}

.team-article {
    /* POSITIONING */
    position: relative;

    /* BOX MODEL */
    padding-bottom: 200px;

    /* TYPOGRAPHIC */
    text-align: center;
}

.team-fig-image {
    /* POSITIONING */
    position: absolute;
    top: -25%;

    /* BOX MODEL */
    display:block;
    width:100%;
    height:auto;
    margin:auto;
}

.team-image {
    /* BOX MODEL */
    width: 200px;
    height: 200px;

    /* VISUAL */
    border: 1px solid var(--main-highlight-aquamarine);
    border-radius: 50%;
}

.team-card {
    /* BOX MODEL */
    padding-top: 125px;
    padding-bottom: 5px;

    /* VISUAL */
    background-color: var(--main-dark);
    border: 1px solid var(--main-highlight-aquamarine);
    border-radius: 10px;
}

.team-member {
    /* TYPOGRAPHIC */
    font-family: var(--font-viga);
    font-size: 2em;
    color: var(--main-highlight-aquamarine);
}

.team-member-title {
    /* BOX MODEL */
    padding: 5px 10px;

    /* TYPOGRAPHIC */
    font-family: var(--font-rubik);
    color: var(--main-highlight-aquamarine);
}

.team-member-about {
    /* BOX MODEL */
    padding: 20px;
    /* TYPOGRAPHIC */
    font-family: var(--font-rubik);
    color: var(--main-light);
}

.team-social {
    /* FLEX */
    display: flex;
    justify-content: space-evenly;

    /* BOX MODEL */
    padding-top: 20px;
}
/* =========================================================== */
/* DESKTOP STYLING */
@media screen and (min-width: 1224px) {
    .team-main {
        /* BOX MODEL */
        height: 100vh;
    }

    .team-section {
        /* POSITIONING */
        position: fixed;
        top: 50%;
        left: 50%;

        /* VISUAL */
        transform: translate(
            -50%, -50%
        );
    }

    .team-headline {
        /* BOX MODEL */
        padding-bottom: 50px;

        /* TYPOGRAPHIC */
        font-size: 3em;
    }
    .team-cards-container {
        /* FLEX */
        display: flex;
        justify-content: center;
    }

    .team-article {
        /* BOX MODEL */
        width: 30%;
    }

    .team-article:nth-child(-n+2) {
        /* BOX MODEL */
        padding-right: 20px;
    }

    .team-card {
        /* BOX MODEL */
        height: 60%;
    }
}