/* VARIABLES */
:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
    --font-rubik: 'Rubik', sans-serif;
}

/* MOBILE STYLES */
.footer {
    height:100vh;
    padding: 20px 5%;
    font-family: var(--font-rubik);
    background-color: var(--main-dark);
}   

.footer__links {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.footer__nav {
    width: 50%;
    font-size: 1.5em;
}

.footer__list {
    list-style-type: none;
}

.footer__item {
    padding: 5px;
    line-height: 2em;
}

.footer__item--link {
    text-align: right;
}

.footer__link {
    padding: 50px 0 50px 50px;
    color: var(--main-highlight-aquamarine);
    text-decoration: none;
}

.footer__link--website {
    background: center left no-repeat url(../images/globe.svg);
    background-size: 2em;
}

.footer__link--github {
    background: center left no-repeat url(../images/github.svg);
    background-size: 2em;
}

.footer__link--linkedin {
    background: center left no-repeat url(../images/linkedin.svg);
    background-size: 1.75em;
}

.footer__link--email {
    background: center left no-repeat url(../images/mail.svg);
    background-size: 2em;
}

.footer__brand {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 10px;
    color: white;
    font-size: 1.25em;
}

.footer__logo {
    padding-bottom: 35px;
}

.footer__power {
    width: 300px;
    margin: auto;
    background: center right no-repeat url(../images/mintbeanLogo.png);
}

.footer__copyright {
    padding-top: 30px;
    margin: auto;
}

/* TABLET & DESKTOP STYLES */
@media screen and (min-width: 768px) {

    .footer__links {
        justify-content: space-evenly;
    }

    .footer__nav {
        width: 30%;
    }

    .footer__nav--social {
        order: 1;
    }

    .footer__nav--links {
        order: 3;
    }

    .footer__brand {
        order: 2;
        width: 30%;
    }

}