/* VARIABLES */
:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
    --font-rubik: 'Rubik', sans-serif;
}

/* MOBILE STYLES */
.footer {
    height:100vh;
    padding: 20px 5%;
    background-color: var(--main-dark);
}

.footer__links {
    display: flex;
    position: relative;
    font-family: var(--font-rubik);
    font-size: 1.5em;
}

.footer__nav--links {
    position: absolute;
    right: 0;
    top: 0;
}

.footer__list {
    list-style-type: none;
}

.footer__item {
    line-height: 2em;
    /* check position */
    position: relative;
    padding: 2px;
}

.footer__link--icon {
    height: 2em;
    position: absolute;
}

.footer__link {
    color: var(--main-highlight-aquamarine);
    text-decoration: none;
    line-height: 2em;
    /* check position */
}

.footer__link--website {
    background: center left no-repeat url(../images/globe.svg);
    background-size: 2em;
    padding: 50px 0 50px 50px;
}

.footer__link--github {
    background: center left no-repeat url(../images/github.svg);
    background-size: 2em;
    padding: 50px 0 50px 50px;
}

/* @media screen and (min-width: 768px) {

} */