:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
}

html, body {
    background-color: var(--main-highlight-darkslateblue);
}

.card-section {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.card-section-headline {
    font-family: 'Viga', sans-serif; 
    color: var(--main-highlight-aquamarine);
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 5px 2px #33358c;
    padding: 30px 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-dark);
    border: 2.5px solid var(--main-highlight-aquamarine);
    border-radius: 10px;
}

.card-body::before {
    content: "";
    display: block;
    height: 300px;
    background-image: url(../images/mintbean-dome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-article {
    color: var(--main-light);
}

.card-contents {
    width: 85%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-article-headline {
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}

.card-text {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

.card-btn {
    width: 100%;
    background-color: var(--main-highlight-aquamarine);
    border: none;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 0;
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
}

/* DESKTOP STYLING */
@media screen and (min-width: 768px) {

    .card-section-headline {
        font-size: 60px;
    }

    .card-body {
        flex-direction: row;
        justify-content: space-evenly;
    }

   .card-body::before {
       width: 50%;
       height: auto;
   }

    .card-article {
        width: 50%;
    }

    .card-article-headline {
        font-size: 40px;
    }

    .card-btn {
        width: 250px;
    }
    
}