/* VARIABLES */
:root {
    --main-dark: #221717;
    --main-light: #f1fff1;
    --main-highlight-darkslateblue: #4143b1;
    --main-highlight-aquamarine: #5ef4d6;
    --font-rubik: 'Rubik', sans-serif;
}