body {
    background-image: url("../images/mintbean-dome.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#nav-bar {
    height: 70px;
    background-color: #221717;
    color: #f1fff1;
    position: relative;
}

#nav-links {
    display: none;
}

#logo-img {
    padding: 10px 15px;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}

#hamburger-icon {
    padding: 10px 15px;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%);
    right: 0;                 
}

.icon-line {
    width: 25px;
    height: 3px;
    background-color: #5ef4d6;
    margin: 6px 0;
}

#header-field {
   width: 90%;
   margin: auto;
   border: 1px solid #5ef4d6;
}