.header-field {
    background-image: url("../images/mintbean-dome.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100vh;
}

/* -----NAVIGATION BAR----- */
.nav-bar {
    height: 80px;
    background-color: #221717;
    color: #f1fff1;
}

.nav-elements {
    height: 80px;
    width: 85%;
    margin: auto;
    position: relative;
}

.nav-links {
    display: none;
}

/* .nav-link {
    font-family: 'Rubik', sans-serif;
    color: #f1fff6;
    font-size: 20px;
    text-decoration: none;
    border-right: 2px solid #f1fff6;
    padding-right: 5px;
    padding-left: 2px;
}

.no-side-border {
    border-right: none;
}

.nav-btn {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #5efad6;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
} */

.logo-img {
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
}

.hamburger-icon {
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%);
    right: 0;                 
}

.icon-line {
    width: 25px;
    height: 3px;
    background-color: #5ef4d6;
    margin: 6px 0;
}

/* -----HEADER FIELD----- */
.header-hero-field {
    width: 85%;
    margin: auto;
}

.header-box {
   width: 100%;
   margin-top: 40px;
   border: 2.5px solid #5ef4d6;
   border-radius: 10px;
   background-color: rgba(34,23,39,0.75);
}

.header-text {
    width: 90%;
    margin: auto;
    padding: 20px 10px;
}

.header-headline {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
    color: #f1fff6;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 1.25;
    text-align: center;
}

.header-description {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #f1fff6;
    line-height: 1.6;
    margin-bottom: 30px;
}

.join-btn {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #5efad6;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* DESKTOP STYLING */
@media screen and (min-width: 1224px) {
    .nav-links {
        display: inline;
        float: right;
        list-style-type: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-0%, -50%);
    }

    .nav-link {
        display: inline;
    }

    .link {
        font-family: 'Rubik', sans-serif;
        color: #f1fff6;
        font-size: 20px;
        text-decoration: none;
        border-right: 2px solid #f1fff6;
        padding-right: 5px;
        padding-left: 2px;
    }
    
    .no-side-border {
        border-right: none;
    }
    
    .nav-btn {
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        font-weight: bold;
        background-color: #5efad6;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
    }

     .hamburger-icon {
        display: none;
    }

    .header-box {
        width: 50%;
        margin-top: 100px;
    }

    .header-description {
        font-size: 18px;
    }

    .join-btn {
        width: 50%;
        font-size: 25px;
    }

}